In [3]:
import pandas as pd


df = pd.read_csv("train.csv")

df.head()

,id,superficie_interior_m2,superficie_exterior_m2,numero_habitacions,numero_banos,ano_construccion,lonxitude,latitude,temperatura_media_mes_construccion,tipo_edificacion,calidade_materiais,cor_favorita_propietario,distancia_centro_km,distancia_escola_km,indice_criminalidade,acceso_transporte_publico,orientacion,eficiencia_enerxetica,numero_arboles_xardin,prezo_euros
0,25521,44.96,0.00,1,2,1947,-8.17,43.20,24.75,Apartamento,Media,Azul,23.68,2.75,0.35,Bo,Norte,C,0,51938
1,4843,93.55,87.26,2,2,1977,-7.23,43.60,14.06,Apartamento,Alta,Verde,NaN,16.67,0.44,Bo,Este,C,0,76891
2,27734,273.64,187.29,1,1,1996,-8.40,42.25,12.27,Chalet adosado,Media,Branco,29.44,18.96,0.47,Regular,Este,C,10,261441
3,22142,171.82,54.89,4,2,1996,-6.81,43.15,11.61,Chalet adosado,Alta,Vermello,53.31,1.96,0.35,Bo,Este,G,3,247821
4,14748,NaN,2153.49,1,1,1990,-8.76,42.92,10.04,Casa,Baixa,Verde,70.20,4.72,0.09,Bo,Oeste,G,12,400645